@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/* #FFFFFF */

* {
    font-family: 'Poiret One', cursive;
}

body {
    background: #F5F5F5;
}

h1 {
    color: #EBD8D8;
    font-size: 65px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 576px){

    .head {
     max-width: 540px;
    }
    
}
